.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity, transform ease-out;
}

.fade-in-active {
  opacity: 1;
  transform: translateY(0);
}

.slide-up {
  transform: translateY(0);
  transition: transform ease-out;
}

.slide-up-active {
  transform: translateY(-100vh);
}
