.btn-wrap {
  display: flex;
  align-items: center;
  width: 60%;
  padding-top: 60px;

  .btn {
    padding: 6px;
    margin-right: 20px;
    font-size: 14px;
    color: $primary;
    font-weight: 500;
    border-bottom: 1px solid $primary;
    letter-spacing: 0.1em;
    transition: all 0.3s ease;

    &:hover {
      color: $point;
      border-bottom: 1px solid $point;
    }
  }
}
