.btn-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  padding: vw(30);

  &.left {
    justify-content: flex-start;
  }

  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    font-size: clamp(14px, vw(14), 16px);
    font-weight: 500;
    transition: all 0.2s ease;

    &.btn-primary {
      color: $primary;
      border-bottom: 1px solid $primary;

      &:hover {
        color: $point;
        border-bottom: 1px solid $point;
      }
    }

    &.btn-secondary {
      color: $secondary;
      border-bottom: 1px solid $secondary;

      &:hover {
        background-color: $point;
        border-radius: 50%;
        border: 0;
        padding: vw(20);
      }
    }

    &.left {
      left: 0;
    }

    &.right {
      left: 80px;
    }
  }
}
