.btn-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 0;

  .btn {
    font-size: 0.8rem;
    margin-right: 1rem;
    padding: 0.1rem;
    color: $primary;
    font-weight: 400;
    border-bottom: 1px solid $primary;
    letter-spacing: 0.1em;

    &:hover {
      font-weight: 500;
    }
  }
}
