$padding-content: vw(120) !default;

.project-detail {
  width: 100%;
  height: 100%;
  padding-left: $nav-desktop-width;

  @include wide-desktop {
    padding-right: $nav-desktop-width;
  }

  header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    padding-bottom: 16vh;
    background-color: $secondary;
    color: $primary;

    h1 {
      font-family: $title-font;
      font-size: vw(160);
      font-weight: 500;
      letter-spacing: -0.04em;
    }
  }
}

.project-description {
  padding: vw(150) $padding-content 0;

  @include wide-desktop {
    padding: vw(150) vw(200) 0;
  }

  p {
    font-size: clamp(23px, vw(28), 34px);
    font-weight: 300;
    line-height: 1.6;
    text-align: justify;
  }
}

.project-info {
  padding: vw(150) $padding-content;

  @include wide-desktop {
    padding: vw(150) vw(200);
  }

  h3 {
    display: inline-block;
    padding-bottom: 0.1rem;
    font-size: clamp(14px, vw(16), 16px);
    text-transform: uppercase;
    border-bottom: 1px solid $secondary;
  }

  p,
  a,
  li {
    font-size: clamp(13px, vw(20), 16px);
  }
  article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: vw(140);

    h3 {
      margin-bottom: vw(10);
    }
    a {
      display: block;
    }

    .stack {
      ul {
        display: flex;
        align-items: center;

        li {
          &:not(:last-child) {
            padding-right: vw(10);
          }
        }
      }
    }
  }

  .mainFunction,
  .keyConcept {
    padding-bottom: vw(100);

    h3 {
      margin-bottom: vw(20);
    }

    li {
      position: relative;
      padding-left: 0.8rem;
      line-height: 1.8;
      &::before {
        position: absolute;
        left: 0;
        content: "-";
      }
    }
  }
}

@include notebook {
  .project-detail {
    padding-right: $nav-desktop-width;

    header {
      h1 {
        font-size: vw(100);
      }
    }
  }

  .project-description {
    padding: vw(130) $padding-content 0;

    p {
      font-size: vw(25);
    }
  }

  .project-info {
    padding: vw(100) $padding-content;

    h3 {
      font-size: 15px;
    }

    p,
    a,
    li {
      font-size: 15px;
    }
    article {
      flex-direction: column;
      align-items: flex-start;
      justify-content: normal;
      gap: vw(30);
      padding-bottom: vw(100);
    }
  }
}

@include tablet {
  .project-detail {
    padding-top: $nav-mobile-height;
    padding-left: $padding-mobile;
    padding-right: $padding-mobile;

    header {
      height: calc(100vh - $nav-mobile-height);
      h1 {
        font-size: vw(80);
      }
    }
  }

  .project-description {
    padding: vw(100) 0;

    p {
      font-size: vw(26);
    }
  }

  .project-info {
    padding: 0 0 vw(100);
  }
}

@include mobile {
  .project-detail {
    padding-top: $nav-mobile-height;
    padding-left: 0;
    padding-right: 0;

    header {
      height: calc(50vh - $nav-mobile-height);
      h1 {
        font-size: vw(50);
      }
    }
  }

  .project-description {
    padding: vw(50) $padding-mobile;

    p {
      font-size: vw(16);
    }
  }

  .project-info {
    padding: 0 $padding-mobile vw(60);

    h3 {
      font-size: 12px;
    }

    p,
    a,
    li {
      font-size: 12px;
    }

    article {
      gap: vw(20);
      padding-bottom: vw(60);
    }

    .mainFunction,
    .keyConcept {
      padding-bottom: vw(60);
    }
  }
}
