$nav-height-mobile: clamp(50px, vw(50), 50px);
$nav-width: 80px; // tablet width

$padding-mobile: vw(30) !default;
$padding-tablet: vw(90);
$padding-notebook: vw(180);

//color
$primary: #1c1d20 !default;
$secondary: #f5f5f5 !default;
$active-bg: #f1ebe6 !default;
$border: #c7c7c7 !default;

//font
$default-font: "Montserrat", sans-serif !default;
$title-font: "GrandSlang", sans-serif !default;
