//nav size
$nav-desktop-width: 80px !default;

// padding size
$padding-desktop: 160px !default;

//color
$primary: #1c1d20 !default;
$secondary: #e8ddd1 !default;
$point: #dd5d22 !default;
$border: #c7c7c7 !default;

// z-index
$zGnb: 100 !default;

//font
$default-font: "Montserrat", sans-serif !default;
$title-font: "GrandSlang", sans-serif !default;
