//nav size
$nav-desktop-width: 80px !default;
$nav-mobile-height: 60px !default;

// padding size
$padding-desktop: 160px !default;
$padding-notebook: 80px !default;
$padding-mobile: 30px !default;

//color
$primary: #1c1d20 !default;
$secondary: #e8ddd1 !default;
$point: #dd5d22 !default;
$border: #d6cabd !default;

// z-index
$z-gnb: 100 !default;
$z-bg-animation: 110 !default;

//font
$default-font: "Montserrat", sans-serif !default;
$title-font: "GrandSlang", sans-serif !default;
