.bg-slide {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: $z-bg-animation;
}

.bg-default {
  background: url("../img/default_bg.png") no-repeat;
  background-size: 100% 100%;
  color: $primary;
  a.active {
    font-weight: 600;
  }
}

.bg-black {
  background: url("../img/black_bg.png") no-repeat;
  background-size: 100% 100%;
  color: $secondary;

  a.active {
    font-weight: 600;
  }
}

.br-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.br-pc {
  display: block;

  @include mobile {
    display: none;
  }
}

:root {
  --vw: 1500;
}

@include notebook {
  :root {
    --vw: 1024;
  }
}

@include tablet {
  :root {
    --vw: 768;
  }
}

@include mobile {
  :root {
    --vw: 416;
  }
}
