.global-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $nav-height;
  padding: 0 $width-padding;
  transition: font-weight 0.4s ease;
  box-sizing: border-box;

  li {
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.2em;

    &:not(:last-child) {
      margin-right: 0.6rem;
    }
  }

  .copyright {
    margin-left: auto;
  }
}
