.global-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: $nav-desktop-width;
  height: 100vh;
  padding: 10px 0;
  // border-right: 1px solid $border;
  z-index: $zGnb;

  ul {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 80px;

    li {
      font-size: 10px;
      font-weight: 400;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      transform: rotate(-90deg) translateX(-80%);
    }
  }
  .copyright {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.3em;
    transform: rotate(-90deg) translateX(100%);
  }
}

@include tablet {
  .global-nav {
    flex-direction: initial;
    width: 100%;
    height: $nav-mobile-height;
    padding: 0 $padding-mobile;
    border-right: 0;
    // border-bottom: 1px solid $border;

    ul {
      display: flex;
      flex-direction: initial;
      justify-content: initial;
      gap: 20px;

      li {
        transform: none;
      }
    }
    .copyright {
      transform: none;
    }
  }
}

@include mobile {
  .global-nav {
    ul {
      gap: 10px;
    }
  }
}
